:root {
    --bg-color: #222222;    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 200vh;
    background-color: var(--bg-color);
    font-family: 'Bebas Neue', cursive;
}
nav {
    width: 100vw;
    background-color: transparent;
    position: fixed;
    top: 0;
    transition: .5s;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    margin: 1em;
    width: 15%;
    transition: .5s;
}
nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style: none;
    padding-right: 3em;
}
nav ul li {
    margin: 1em;
    font-size: 1.2rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}
.show {
    background-color: var(--bg-color);
    box-shadow: 0 0 10px black;
    height: 2em;
}
.show img {
    width: 5%;
}
.marvel {
    max-width: 100vw;
    min-height: 60vh;
    background-image: url(img/marvel.png);
    background-size: cover;
    background-position: center;
}
.universe {    
    display: flex;
    background-color: whitesmoke;    
}
.text {
    width: 100vw;
    font-size: 15rem;
    text-align: center;
    color: transparent;
    background-image: url(img/text.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    line-height: 1em;
}
.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
}
.section h2 {
    color: whitesmoke;
    font-size: 3rem;
    padding: 1rem;    
}
.section p {
    color: aliceblue;
    margin: 1rem;
    font-size: 1.3rem;
}
.card, .card2 {
    max-width: 15vw;
    min-width: 250px;
    height: 100%;
    min-height: 60vh;
    background: transparent;
    transition: 1s;
    transition-delay: .5s;
    transform: translate(0, 300px);
    background-color: whitesmoke;
}
.card.show, .card2.show {
    transition: linear .5s;
    display: inline;
    transform: translate(0, 0);    
}
.card h1, .card2 h1 {
    font-size: 2rem;
    color: var(--bg-color);
}
.section .card p, .section .card2 p {
    text-align: justify;
    padding: .5em;
    color: var(--bg-color);
    font-size: 1rem;
    margin: 0;
}
.section .card h3, .section .card2 h3 {
    text-align: center;    
    color: var(--bg-color);
    font-size: 1rem;
    margin: 0;
}
.card-img, .card2-img {
    min-width: 250px;
    height: 40vh;
}
.card.show #iron-man::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
}
.card.show #the-hulk::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
.card.show #iron-man-2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;    
}
.card.show #thor::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
.card.show #captain-america::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
.card.show #avengers::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
#iron-man {    
    background-image: url(img/movies/fase1/im1.webp);
    background-size: cover;
    position: relative;
}
#iron-man::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
#the-hulk {
    background-image: url(img/movies/fase1/hulk.webp);
    position: relative;
    background-size: cover;
}
#the-hulk::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
#iron-man-2 {
    background-image: url(img/movies/fase1/im2.jpg);
    position: relative;
    background-size: cover;
}
#iron-man-2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
#thor {
    background-image: url(img/movies/fase1/thor.jpg);
    position: relative;
    background-size: cover;
}
#thor::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
#captain-america {
    background-image: url(img/movies/fase1/ca1.jpg);
    position: relative;
    background-size: cover;
}

#captain-america::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
#avengers {
    background-image: url(img/movies/fase1/avengers.webp);
    position: relative;
    background-size: cover;
}
#avengers::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
#iron-man3 {
    background-image: url(img/movies/fase2/im3.webp);
    position: relative;
    background-size: cover;
}
#iron-man3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
.card2.show #iron-man3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
#thor2 {
    background-image: url(img/movies/fase2/thor2.webp);
    position: relative;
    background-size: cover;
}
#thor2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
.card2.show #thor2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
#captain2 {
    background-image: url(img/movies/fase2/captain2.jpg);
    position: relative;
    background-size: cover;
}
#captain2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
.card2.show #captain2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
#guardians {
    background-image: url(img/movies/fase2/guardians.webp);
    position: relative;
    background-size: cover;
}
#guardians::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
.card2.show #guardians::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
#aou {
    background-image: url(img/movies/fase2/aou.webp);
    position: relative;
    background-size: cover;
}
#aou::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
.card2.show #aou::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}
#ant-man {
    background-image: url(img/movies/fase2/ant-man.webp);
    position: relative;
    background-size: cover;
}
#ant-man::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: 1s;
}
.card2.show #ant-man::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #22222200;
    transition: 1s;
}